@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: Roboto;
}

a {
    text-decoration-line: none;
    color:#e5e7eb
}

ul {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-around;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
}

.link {
    display: flex;
    font-size: 18px;
    gap: 24px;
}